section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    overflow: hidden;

    div {
        padding: 0 10px;
    }

    button{
        float: right;
    }
}

.author-details{
    width: 100%;
    align-items: center;

    h1{
     margin: 0; 
     font-size: 2rem;  
    }

    p{
        margin: 0;
    }
}

mat-form-field {
    width: 100% !important;
}

.cancel-btn{
    margin-right: 5px;
}