<!-- <section>
    <p *ngFor="let each of books">{{each.title}}</p>
</section> -->

<section>
    <h1>Your Books</h1>
    <div *ngFor="let each of books" class="card">
        <div class="details">
            <h1>{{each.title}}</h1>
            <p>{{each.description | titlecase}}</p>
            <span>Published on : {{each.publishedDate | dateConvert }}</span>
        </div>
        <div>
            <button (click)="deleteBook(each.id)" >delete</button>
            <button (click)="callUpdate(each.id)">update</button>
        </div>
    </div>
</section>