<!-- <section>
    <p *ngFor="let each of books">{{each.title}}</p>
</section> -->

<section>
    <h1>Your Books</h1>
    <div *ngFor="let each of books" class="card">
        <div class="details">
            <h1>{{each.title}}</h1>
            <p>{{each.description | titlecase}}</p>
            <span>Published on : {{each.publishedDate | dateConvert }}</span>
        </div>
        <div>
            <mat-icon (click)="deleteBook(each.id)" aria-hidden="false" aria-label="delete book icon" fontIcon="delete" class="btn"></mat-icon>
            <mat-icon (click)="callUpdate(each.id)" aria-hidden="false" aria-label="edit book icon" fontIcon="edit" class="btn"></mat-icon>
        </div>
    </div>
</section>